
@model IEnumerable<Dominio.EntidadesPortLog.Importacion>
@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                Cod
            </th>
            <th>
                Nombre
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Cod
                </td>
                <td>
                    @item.Nombre
                </td>
            </tr>
        }

    </table>

}
else {
    <p>No hay importaciones registradas</p>
}



