
@model IEnumerable<PortLog.RefServPortLog.DtoProducto>
@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                Cod
            </th>
            <th>
                Nombre
            </th>
            <th>
                Stock
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.cod
                </td>
                <td>
                    @item.Nombre
                </td>
                <td>
                    @item.Stock
                </td>
            </tr>
        }

    </table>

}
else {
    <p>No hay productos sin retirar</p>
}



