
@model IEnumerable<PortLog.RefServPortLog.DtoProducto>
@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                Cod
            </th>
            <th>
                Nombre
            </th>
            <th>
                Stock
            </th>
            <th>
                Importar
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.cod
                </td>
                <td>
                    @item.Nombre
                </td>
                <td>
                    @item.Stock
                </td>
                <td>
                    <form action="/Importacion/Create">
                        <input hidden type="text" name="Id" value="@item.cod" />
                        <input type="submit" value="Importar" class="btn btn-default" />
                    </form>
                </td>
            </tr>
        }

    </table>

}
else {
    <p>No hay productos sin retirar</p>
}



