
@model IEnumerable<Dominio.EntidadesPortLog.Importacion>

<table class="table">
<tr>
    <th>
        Cod
    </th>
    <th>
        Nombre
    </th>
</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @item.Cod
        </td>
        <td>
            @item.Nombre
        </td>
    </tr>
}

</table>
<form action="/importaciones/create" method="post">
    <div class="form-horizontal">
        <h4>Ingresar una importacion</h4>

        <div class="form-group">
            <label class="control-label col-md-2">Codigo</label>
            <div class="col-md-10">
                <input type="number" name="cod" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Nombre</label>
            <div class="col-md-10">
                <input type="text" name="nombre" class="form-control" />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear nuevo" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>



