@model Dominio.EntidadesPortLog.Cliente

<div class="col-md-12">
    <h4>Prevision de ganancia</h4>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-12">Nombre: @Model.Nombre</label>
        </div>
        <div class="form-group">
            <label class="col-md-12">Rut: @Model.Rut</label>
        </div>
        <div class="form-group">
            <label class="col-md-12">FechaIngreso: @Model.FechaIngreso</label>
        </div>
        <div class="form-group">
            <p class="col-md-12">Ganancias previstas: $@ViewBag.Total</p>
        </div>

    </div>
</div>
